// Scaffolding

$font-family-base: 'Roboto', sans-serif;
$font-family-cond: 'Roboto Condensed', sans-serif;
$font-size: 16px;
//** Background color for `<body>`.
$body-bg:               #fff !default;
//$text-color:;
//$link-color:;
//$link-hover-color:;
//$link-hover-decoration:;

// Scaffolding

//COLORS



//COLORS

// Navbar

$navbar-height:60px;
$navbar-color: #333;
$background-navbar: transparent;
$background-navbar-expand: #171B1E;

// Navbar

//FOOTER



//FOOTER

// BUTTONS

$btn-font-weight: 'Roboto', sans-serif;

// BUTTONS

// Typography

$headings-font-weight: 700;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;
//$font-size-h1:;
//$font-size-h2:; 
//$font-size-h3:;
//$font-size-h4:;
//$font-size-h5:;

// Typography
